@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: LibreFranklin;
    src: url(fonts/LibreFranklin-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: LibreFranklin;
    src: url(fonts/LibreFranklin-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: LibreFranklin;
    src: url(fonts/LibreFranklin-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: LibreFranklin;
    src: url(fonts/LibreFranklin-BoldItalic.woff2);
    font-weight: 700;
}
 

body{
    background-color:rgb(240, 165, 67);
}

*{
    text-decoration: none;
    color: rgb(53, 104, 53);
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    outline: 0;
}
#pageLogo{
padding: 10px 10px;
}

.main-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 40px;
  background-color: #283e4d;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px; 
}

header h1.name {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "DancingScript";
  text-decoration: overline;
  color: #eb770b;
}

.nav-top ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 60px;
}

.nav-top ul li a {
  text-decoration: none;
  color: #eb770b;
  font-family: "LibreFranklin";
  font-weight: 400;
  font-size: 15px;
  justify-content: end;
}

.primary-btn {
    background-color: rgb(161, 171, 224);
    color: black;
    padding: 10px 10px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: #013b1e 2px 2px 4px;
    border: 1px solid transparent;
    cursor:pointer;
    transition: .5s ease-in-out;
}
.primary-btn:hover{
    color: #a15502;
    border-color: #015a09;
    background-color: #ffffff;
    transition: .5s ease-in-out;
}

.section-header {
  display: flex;
  justify-content: center;
  background-color: #814949; 
  padding: 20px 20px;
  position: sticky;
  top: 0;
}

.nav-right {
  display: flex;
  gap: 150px; 
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
}

.nav-right .nav-link {
  text-decoration: none;
  color: #eb770b;
  font-family: "LibreFranklin";
  font-weight: 400;
  padding: 5px 5px;
}

.hero-shot{
    background-color: #283e4d;
    display: flex;
    gap: 5%;
    margin-bottom: 30px;
}

.hero-shot-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-shot-item img{
    width: auto;
}

.hero-shot-text p{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-family: Dosis;
    font-weight: 400;
    font-size: 28px;
    color: #eb770b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondary-button{
    background-color: rgb(161, 171, 224);
    color: black;
    padding: 10px 10px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: #d15401 2px 2px 4px;
    cursor: pointer;
}

.secondary-button hover{
    background-color: #d15401;
}
.specialist-areas span{
background-color: #814949;
color: #eb770b;
display: flex;
justify-content: center;
align-items: center;
font-family: "LibreFranklin";
font-weight: 400;
font-size: 28px;
padding: 5px 10px;
margin-bottom: 30px;
}

.marketing-banner{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color:#283e4d;
    padding: 40px 20px;   
}

.banner-track{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.banner-item img{
    display: block;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.banner-item img :hover{
    box-shadow: 10px 30px #eb770b;
    transform: scale(1.05);
}

.banner-item span{
    display: block;
    color: #eb770b;
    font-family: "Dosis";
    font-weight: 400;
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
}

.nav-left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:baseline;
    font-family: "LibreFranklin";
    font-weight: 400;
    font-size: 15px;
    margin: 30px 0px 10px 30px;
}
